/* Psudo element (::)  */

h1::first-letter {
  font-size: 50px;
  color: burlywood;
}

p::after {
  content: "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
  background-color: #111;
  width: 100px;
  color: yellowgreen;
  height: 100px;
}

p::before {
  content: "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
  background-color: #111;
  width: 100px;
  color: yellowgreen;
  height: 100px;
}

/* Pseudo class (:) */

li:first-child {
  color: orange;
}
li:last-child {
  color: rgb(167, 91, 104);
}
li:nth-child(6) {
  color: rgb(1, 82, 55);
}
ul li:not(:nth-child(odd)) {
  color: cadetblue;
  list-style: none;
  border: 1px solid black;
  padding: 5px;
}

p:active {
  background-color: red;
  color: beige;
}
